@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  margin: 0;
}

* {
  font-family: Roboto, "Helvetica Neue", sans-serif!important;
}

.stop_marker {
  width: 5px;
  height: 5px;
  padding: 5px;
  background-color: #fff;
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: center;
  outline: none;
  border-radius: 18px;
}

.mapboxgl-ctrl-bottom-left {
  display: none!important;
}

@media (min-width: 600px) {
  .mapboxgl-map {
    height: calc(100% - 64px)!important;
  }
}

@media (max-width: 599px) {
  .mapboxgl-map {
    height: calc(100% - 56px)!important;
  }
  .brigade_schedule {
    width: 100%!important;
  }
}